body {
  font-family: Georgia, serif;
  background-color: rgb(238, 238, 238);
  margin: 0 4% 2% 7%;
}

header {
  display: block;
  position: relative;
  padding: 0px;
  margin-bottom: 0px;
}

main {
  display: inline-block;
  width: 60%;
}

aside {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin-left: 25px;
}

header > p {
  font-size: 40px;
  font-weight: bold;
}
header > nav > ul {
  list-style: none;
  display: inline-block;
  position: absolute;
  right: 50px;
  top: 2px;
}
header > nav > ul > li {
  display: inline-block;
  margin-right: 50px;
}
header > nav > ul > li > a {
  text-decoration: none;
  color: RGB(0, 102, 0);
}

#blockquote-paragraph {
  display: inline-block;
  width: 50%;
  margin-bottom: 0px;
}
blockquote {
  display: inline-block;
  margin: 0px 0px 0px 15px;
  width: 35%;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 14px;
  border-left: 1px solid grey;
  padding-left: 20px;
  /* padding-bottom: 30px; */
  vertical-align: center;
  color: gray;
}
#first{
    float: right;
    width: 15%;
    margin: 2px;
}
#second{
    float: left;
    width: 20%;
    margin: 0px 15px 10px 0px;
}

blockquote > p:nth-child(2){
    text-align: right;
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.2em;
}
