{% load tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}My Site{% endblock %}</title>
    {#    Wrong way to load 'static files'#}
    {#    <link rel="stylesheet" href="/static/site.css">#}

    <link rel="stylesheet" href="{% static 'site.css' %}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    {#Site CSS#}
    <style>
        h1 {
            color:green;
        }
    </style>
    {#Page-specific CSS#}
    {% block styles %} {% endblock %}
    {% block head_scripts %}{% endblock %}
</head>
<body>
{% block body_start_scripts %}

{% endblock %}
HTML Nav:

Tag Nav:
{% app_nav 'index' 'redirect to home' 'about' %}

{#Placeholder for child templates to use#}
{#"page_content" is custom name:#}
{% block page_content %}

{% endblock %}


{% block body_end_scripts %}

{% endblock %}

{% include 'partials/footer.html' %}
</body>
</html>