{% extends 'base/base.html' %}
{% load placeholders %}
{% block page_content %}
    <!-- Start Register Section -->
    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>
            <!-- Start Register Form -->
            <form method="post" action="{% url 'register user' %}">
                {{ form.username|placeholder:'Username: ' }}
                {{ form.email|placeholder:'Email: ' }}
                {{ form.password1|placeholder:'Password: ' }}
                {{ form.password2|placeholder:'Repeat password: ' }}

                <button type="submit">Register</button>
                {% csrf_token %}
            </form>
            <!-- End Register Form -->
        </div>
        <div class="second-option">
            <!-- Link to Login Page -->
            <p>Have an account? <a href="{% url 'login user' %}">Log in</a></p>
        </div>
    </div>
    <!-- End Register Section -->
{% endblock %}